.header-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: var(--headerHight);
  width: var(--headerHight);
  margin: var(--margin);
  border-radius: var(--borderRadius);

  background: red;

  display: flex;
  justify-content: scenter;
  align-items: center;

  overflow: hidden;
}